.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px black;
     margin-top: 10px;
     margin-bottom: 10px;
}

.input {
    box-sizing: border-box;
    width: 100%;
    outline: transparent;
    font-size: 14px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 1px #ffffff;
    border-radius: 5px;
    padding: 8px;
    transition: outline 0.3s ease-in-out;

    &:hover {
        outline: 1px solid gray;
    }

    &:focus-within {
        outline: 1px solid #3350e9;
    }
}

