.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #ffffff;

    & .box {
        display: flex;
        flex-direction: column;

        & p {
            display: flex;
            align-items: center;
            margin-right: 5px;
        }

        & p:nth-child(1) {
            font-weight: bold;
        }
    }
}

.icon {
    fill: #000000;
    margin-right: 5px;
}

.btn {
    position: relative;
    background-color: #e32636;
    z-index: 0;
    border-radius: 10px;
    border: none;
    padding: 8px 15px;
    height: 40px;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover,
    :focus {
        background-color: #bf4040;
    }
}

.btn:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 30s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.btn:active:after {
    background: #333333ab;
}

.btn:hover:after {
    background-color: #ffffff00;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}