.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #ffffff;
}

.inputBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input {
    box-sizing: border-box;
    width: 100%;
    outline: transparent;
    font-size: 14px;
    background-color: lightcyan;
    border-radius: 5px;
    padding: 8px;
    border: none;
    margin-bottom: 10px;
    transition: outline 0.3s ease-in-out;

    &:hover {
        outline: 1px solid gray;
    }

    &:focus-within {
        outline: 1px solid #3350e9;
    }
}

.btn {
    position: relative;
    background-color: #3350e9;
    z-index: 0;
    border-radius: 10px;
    border: none;
    padding: 8px 15px;
    width: max-content;
    text-align: center;
    display: flex;
    align-items: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    & svg {
        margin-right: 5px;
    }

    &:hover,
    :focus {
        background-color: #1f3cd4
    }
}

.btn:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 30s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.btn:active:after {
    background: #333333ab;
}

.btn:hover:after {
    background-color: #ffffff00;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}